[2019-11-22 12:38] yomuevans opened #1 "Cant make MTCNN engines"
Hi, so i followed step by step instruction, but the build cant seem to make mtcnn model engines by itself, here's the output am getting

Start generating mtCNN TenosrRT runtime models
changedH = 96, changedW = 128
rawName = ../mtCNNModels/det1_relu1.engine
[libprotobuf ERROR google/protobuf/text_format.cc:298] Error parsing text-format ditcaffe.NetParameter: 7:1: Expected identifier, got: <
ERROR:

[2019-11-22 21:17] nwesem commented on #1
Hi yomuevans, it could work when you created your custom engines, but the [base_engine.cpp](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/blob/master/src/baseEngine.cpp) takes care of that. So, as stated in the [README.md](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/blob/master/README.md), you will only need the models from [PKUZHOU's repo](https://github.com/PKUZHOU/MTCNN_FaceDete

[2019-11-27 01:41] yomuevans commented on #1
Hi again, facenet conversion to .engine works fine. Am still getting the same error, even after formatting the whole disk and reinstalling the dependancies.

Can i somehow disable the base.cpp? Coz all i need now is just run inference. Converting all the the models isnt the issue for me. I just need the code to execute. Kindly help.

[2019-11-27 17:48] nwesem commented on #1
1. You do not have to convert the models for the mtCNN. The mtCNN folder structure should look like this:
det1_relu.caffemodel
det1_relu.prototxt
det2_relu.caffemodel
det2_relu.prototxt
det3_relu.caffemodel
det3_relu.prototxt
README.md

If you have all the files in the **mtCNN folder** you should be able to run the entire project using `./mtcnn_facenet_cpp_tensorRT`. When run for the first time th

[2019-12-03 11:48] yomuevans commented on #1
Thanks it worked, but i didnt use PKUZHOU's repo for the MTCNN models. but now i got new problem. With no images in the img folder am getting this output.

End generating TensorRT runtime models
Parsing Directory: ../imgs
Empty frame! Exiting...
Counted 0 frames in 0 seconds! This equals nanfps.
FaceNet was destructed

With an image any .jpg image(even after renaming an image to *class_name*.jpg)

[2019-12-04 06:45] yomuevans commented on #1
So everything worked, everything, but i had to make lots of changes to the code. If you told me to repeat the changes ive made id probably fail spectacularly, currently i have no idea. But Thanks you've really helpful

[2019-12-04 06:45] #1 closed

[2019-12-18 12:42] deaffella commented on #1
hi! I ran into the same problem.
how did you load the face detector models? I just try to execute step01_pb_to_uff.py, then download models with terminal by links in readme and run ./mtcnn_facenet_cpp_tensorRT
but every time i've got an error like you

[2019-12-18 13:15] yomuevans commented on #1
Dont use wget to download the models

[2019-12-18 17:24] nwesem commented on #1
Thanks @yomuevans, I will update the README.md according to that.

[2020-01-28 01:38] julayelei opened #2 "Using model using TensorRT and Python"
Hello! I've just tested this C++ implementation and is really great! Thank you for sharing your knowledge.
I was wondering if this model could be used in Python with TensorRT.
Thanks in advance!

[2020-01-28 22:20] nwesem commented on #2
Hi julaylei, first of all thanks a lot I appreciate it!
Of course the models can likewise be used in Python using TensorRT, but it would probably take some time to reimplement the preprocessing using Python. I guess that would be quite good practice though ;-). Also, it should be pretty straight forward since the Python API of OpenCV is very close to the C++ API.
Does it make a huge difference for

[2020-02-06 16:13] zerocool95 opened #3 "No opencv window comes up after all the steps"
I am trying to run the code on jetson nano and everything works like a charm but in the end i dont see any screen , only some continuous logs on the screen . What could be the possible reason for this?
I have also changed the camera to usb camera and tested it on jetson via a python code and the camera seems to work perfectly fine. Any help would be appreciated !

Thanks !

[2020-02-07 12:15] nwesem commented on #3
hi zerocool95, usually in OpenCV the combination of `cv::imshow("VideoSource", frame);` and `char keyboard = cv::waitKey(1);` should create and update the OpenCV GUI. As this is what happens in the `main.cpp`, it should show the GUI or as you call it the window. You can find it in the `main.cpp` here: https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/blob/master/src/main.cpp#L88-L93

i am guess

[2020-02-07 12:38] zerocool95 commented on #3
I haven't changed any of the code in the current repository. Is it possible for it to a memory issue because i dont have much memory available on my jetson?

[2020-02-11 21:31] jamesee opened #4 "Failed to Compile facenet"
Hi

I followed your github instruction closely, but I had the following errors:

dlinano@jetson-nano:~/mtcnn_facenet_cpp_tensorRT/build$ make -j${nproc}
[  7%] Building NVCC (Device) object trt_l2norm_helper/CMakeFiles/trt_l2norm_helper.dir/trt_l2norm_helper_generated_l2norm_helper.cu.o
Scanning dependencies of target trt_l2norm_helper
[ 14%] Building CXX object trt_l2norm_helper/CMakeFiles/trt_l2

[2020-02-13 21:10] lucasBruge commented on #4
Hi. Through some google-search, I found that's probably a compatibility issue with opencv (It wasn't related to this code, of course)

 It said that you should try replace CV_RGB2BGR with COLOR_BGR2RGB. I looked in imgproc.hpp, and I found this

COLOR_BGR2RGB = 4,
COLO_RGB2BGR = COLOR_BGR2RGB

 ...so I tried that, but It didn't work. So I replaced it directly by number 4.

 Try this (at faceNet.cp

[2020-02-13 21:21] lucasBruge commented on #3
I think I may have the same kind of problem... It runs, but only writes INFOs to the console, like

`INFO: tatic 0 time0.213432648 `

 ...I added some debug outputs to main.cpp, and it seems trapped on FaceNetClassifier() initialization on line 41.

 But I just realized that I don't have any "facenet.engine" file (line 28)... Of course it's my bad, but I'm lost...

 I'll appreciate some help... th

[2020-02-13 21:24] lucasBruge commented on #3
...I woked!!! It was creating the files!!! It needed some patience... great!!!

[2020-02-13 21:26] lucasBruge commented on #3
...but It didn't a second time :(

[2020-02-17 03:40] xuwanqi opened #5 "Parse UFF ERROR"
when i try to parse pb to uff,it shows:
Warning: keepdims is ignored by the UFF Parser and defaults to True
DEBUG: convert reshape to flatten node

and i move the .uff,it shows:
ERROR: InceptionResnetV1/Conv2d_1a_3x3/convolution: kernel weights has count 864 but 46080 was expected
ERROR: UFFParser: Parser error: InceptionResnetV1/Conv2d_1a_3x3/BatchNorm/batchnorm/mul: The input to the Scale Layer

[2020-02-17 15:50] jamesee commented on #4
@lucasBruge

Thank you very much. It works. Managed to compile facenet.

[2020-02-19 11:20] nwesem commented on #4
thanks @lucasBruge

[2020-02-19 11:20] #4 closed

[2020-02-26 17:39] elisabetta496 opened #6 "Error loading model with python"
Hi,
I tested your C++ implementation and I would like to implement it in  Python. I'm trying to load the engine file but the problem is that the plugin is not found when loading the engine with:

`with open(engineFile, "rb") as f, trt.Runtime(G_LOGGER) as runtime:
	engine = runtime.deserialize_cuda_engine(f.read())`

I get the following error:

`[TensorRT] ERROR: INVALID_ARGUMENT: getPluginCreator

[2020-02-26 23:15] nwesem commented on #2
#6

[2020-02-26 23:15] #2 closed

[2020-02-26 23:20] nwesem commented on #6
hi, i'm happy to hear that.
As stated in the README, this is a custom plugin written by https://github.com/r7vme/tensorrt_l2norm_helper.
Please check how to load custom TensorRT plugins in Python and let me know if you need more help.

[2020-03-05 12:28] swetha-sree opened #7 "Failed to parse UFF"
--------------------------------------------------------------------------------
ERROR: UffParser: Unsupported number of graph 0
Failed to parse UFF
terminate called after throwing an instance of 'std::exception'
  what():  std::exception
Aborted (core dumped)
---------------------------------------------------------------------------------

Hi above is the stack trace for the error while executin

[2020-03-18 12:20] PhilipCNel commented on #7
@swetha-sree did you remember to move the FaceNet.uff to the FaceNet models folder?

[2020-03-19 10:15] luanpham107 commented on #7
I tried tensorRT 1.15 and it working great. Please follow Nvidia guidelines for install tensorRT here:
Installation guide - [](https://docs.nvidia.com/deeplearning/frameworks/install-tf-jetson-platform/index.html 5
)Release note - [](https://docs.nvidia.com/deeplearning/dgx/install-tf-xavier-release-notes/index.html)

[2020-03-24 04:34] deaffella commented on #6
Hi!
I want to use uff models in my python script, but I don't know how to load them correctly.
Have you solved the problem of loading models in python?

[2020-03-24 07:36] nwesem commented on #6
does [this part](https://docs.nvidia.com/deeplearning/sdk/tensorrt-developer-guide/index.html#add_custom_layer_python) of TensorRT documentation help you?

[2020-03-25 00:06] deaffella commented on #6
No, it does not. I don't see any instructions to load .uff and .engine models in this documentation.

[2020-03-26 14:06] tongvantruong opened #8 "Failed to parse UFF - custom UFF file"
I created a new uff file named new.uff by the following steps:

1. Train Tensorflow model: https://github.com/davidsandberg/facenet/wiki/Classifier-training-of-inception-resnet-v1.
The result of this step is a directory contains 4 files(checkpoint, model....index, model...data,...)

2. Freeze the model by https://github.com/davidsandberg/facenet/blob/master/src/freeze_graph.py
`python freeze_graph

[2020-03-26 17:26] nwesem commented on #8
The given facenet.pb tensorflow graph was pruned. That means the switch node was removed as stated [here](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT#2-prune-and-freeze-tensorflow-model-or-get-frozen-model-in-the-link). There are multiple ways to do this. I would recommend the following:
1. Visualize the tf graph using tensorboard. You will be able to identify all nodes that use the switc

[2020-03-26 17:38] tongvantruong commented on #8
Hi, thanks for your response.

When I read the **2. Prune and freeze TensorFlow model or get frozen model in the link** from the document, I thought that I can easy obtain the frozen model by using ** freeze_graph** as I did at step 2.

I will follow your recommendation and get back to you later.

Thanks again for the cool works on this project.

[2020-03-27 04:01] tongvantruong commented on #8
Hi @nwesem Can you support me on how to "identify all nodes that use the switch layer" from the Tensorboard? I could not find it on my tensorboard. Please check my images:
1. https://drive.google.com/file/d/1jvzTUAsCqlzh7xHz3f1hyqNMgxOdRyE0/view?usp=sharing
2. https://drive.google.com/file/d/1D1IGm0cndqx2t_HWr8rULb7-FyHk533O/view?usp=sharing

[2020-03-27 10:07] tongvantruong commented on #8
Hi @nwesem I am trying to optimize the model using Tensorflow's graph transform tool but seems it doesn't work. The switch nodes are still there. Same error occurred.
`Unsupported operation _Switch`

My script for removing Switch nodes:
[code]

So what I did to optimize the model are:
1. Freeze the model using freeze_graph.py
2. Remove Switch nodes from the output of 1.

Can you give me advice?

[2020-03-30 16:46] do-van-long commented on #3
@lucasBruge me too. Have you found a solution yet?
@nwesem Could you please help me with the second execution? The error looks like this:
=========================================
Empty frame! Exiting ...
Counted 0 frames in 0 seconds! This equals nanfps.
Segmentation fault (core dumped)
=========================================

[2020-03-30 18:03] lucasBruge commented on #3
Ey, @do-van-long. It was kind of strange thing I couldn't figure it out. It started to work ok just wright after the boot. But, it keeps failing sometimes then... I mean, sometimes works, the second, ther or forth time... but sometimes it didn't.... don't know why

[2020-03-31 13:57] do-van-long commented on #3
@lucasBruge Thank for your answer. I think it's the camera problem. After resetting my Jetson Nano and check for camera, the program works quite well.

[2020-03-31 19:08] elisabetta496 commented on #6
No, i'm sorry! I've loaded the engine file so far.
Have you solved the problem? Otherwise I will let you know if I will be able.

[2020-04-01 23:58] sivak95 commented on #3
Has anyone got this to work using OpenCV 4.2?

[2020-04-02 15:46] lucasBruge commented on #3
Check this comment (and the thread), it may help...

https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/issues/4#issuecomment-585973312

[2020-04-02 22:48] nwesem commented on #3
Thanks again @lucasBruge. It seems like multiple people have had this issue. Does it make sense to change this on the master branch? What do you think @lucasBruge ?

[2020-04-04 14:21] deaffella commented on #6
Unfortunately I couldn't find any example of loading models in Python.
Please help me

[2020-04-08 06:00] tongvantruong commented on #8
Hi @nwesem Can you share how did you create the model https://github.com/apollo-time/facenet/raw/master/model/resnet/facenet.pb ? I am trying to create that Pruned and frozen model which can be read by TensorRT.

I did the follow steps:
**1. Download the pre-trained facenet model** here: https://github.com/davidsandberg/facenet#pre-trained-models. I downloaded this model "20180408-102900"
**2. Cre

[2020-04-08 10:51] nwesem commented on #8
I am not sure how it works at the moment, but I know for sure that you also have to remove the phase train input tensor in all layers. I will give this a try as soon as I find some spare time.

[2020-04-08 15:39] nwesem commented on #8
This guy pruned the tf graph that I was using for this implementation. Plus, his repository contains `freeze_graph.py` and `freeze_graph_resnet.py` scripts. Maybe that's a good start to figure out how to do it @tongvantruong. Here is [the link](https://github.com/apollo-time/facenet). Check out the [src](https://github.com/apollo-time/facenet/tree/master/src) folder.

[2020-04-08 15:41] nwesem commented on #5
have you found out what the reason for this error is? @xuwanqi

[2020-04-20 09:04] mel0615 commented on #7
Hi I had the same error while executing mtcnn_facenet_cpp_tensorRT. Finally I found that I compiled the project under the _root_ directory but not _build_ dir, so that the build files and executable file were in the _root_ dir. Please check the path. Hope it helps.
TF: 1.14
TRT: 5.1.5.0

[2020-04-23 18:55] celevra opened #9 "Cuda 10.2"
Hi,

got my Jetson nano yesterday and i get following errors:
[code]

regards

[2020-04-26 17:30] nagorntow opened #10 "Error with facenet.pb to facenet.uff"
Using output node dimension/LeakyRelu
Using output node orientation/l2_normalize
Using output node confidence/Softmax
Converting to UFF graph
Traceback (most recent call last):
  File "./step01_pb_to_uff.py", line 32, in <module>
    output_filename=uff_file, text=False)
  File "/usr/lib/python3.6/dist-packages/uff/converters/tensorflow/conversion_helpers.py", line 178, in from_tensorflow
    debu

[2020-04-28 08:27] nwesem commented on #9
@celevra does the current JetPack version for Jetson Nano ship with Cuda 10.2 now? That would mean i have to test everything from scratch

[2020-04-28 08:28] nwesem commented on #10
@nagorntow can you give more info what exactly you are using as your input file?

[2020-04-28 08:40] celevra commented on #9
Yes, nothing Changed from my Side, thats the Default now

Sent from Nine<http://www.9folders.com/>
________________________________
Von: Niclas Wesemann <notifications@github.com>
Gesendet: Dienstag, 28. April 2020 10:27
An: nwesem/mtcnn_facenet_cpp_tensorRT
Cc: Philipp Zeitschel; Mention
Betreff: Re: [nwesem/mtcnn_facenet_cpp_tensorRT] Cuda 10.2 (#9)

@celevra<https://github.com/celevra> does the

[2020-04-28 09:06] nwesem commented on #9
I just checked JetPack 4.4 ships with Cuda 10.2, but it is still in Developer Preview. As soon as they release a production release I will test it with. Until then I would suggest that you download JetPack 4.3.

[2020-04-28 09:10] nagorntow commented on #10
I using file download from github.com/apollo-time/facenet/raw/master/model/resnet/facenet.pb and change name file to sample.pb

[2020-04-28 09:10] celevra commented on #9
Hi,

Oh i've followed the get Starter Guide from Nvidia. Can your Point me in the right direction?

Regards

Sent from Nine<http://www.9folders.com/>
________________________________
Von: Niclas Wesemann <notifications@github.com>
Gesendet: Dienstag, 28. April 2020 11:07
An: nwesem/mtcnn_facenet_cpp_tensorRT
Cc: Philipp Zeitschel; Mention
Betreff: Re: [nwesem/mtcnn_facenet_cpp_tensorRT] Cuda 10.2

[2020-04-28 09:12] nwesem commented on #9
Yes follow [this link](https://developer.nvidia.com/jetpack-43-archive) to download sd card image for jetson nano and flash it to your sd card using etcher or startup disk creator on ubuntu

[2020-04-28 19:45] nwesem commented on #10
did you change the input path (variable is called `pb_file`) to `path/to/your/sample.pb` in [this line](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/blob/master/step01_pb_to_uff.py#L10)?

[2020-04-28 21:15] celevra commented on #9
thank you, i've now installed 4.3 but got an error:

[code]

i've installed tensorflow from this docu:
[code]

[2020-04-28 21:17] celevra commented on #9
ok its Tensorflow 2.1 i should downgrade...

[2020-04-28 21:19] nwesem commented on #9
yes, tensorflow 1 should work

[2020-04-29 18:37] celevra commented on #9
now i get this build error:

[code]

[2020-04-29 18:40] nwesem commented on #9
known issue due to OpenCV 4.2 --> https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/issues/4#issuecomment-585973312

I will update this asap.

[2020-05-11 14:23] mel0615 opened #11 "Question of inputsize"
hi I had an error while running this program and I wonder if there's any solution.
The _setting-inputsize_ of the model are _640_ and _480_, and the _minsize_ of mtcnn is _60_. But when I change the two parameters, the program doesnot run successfully.
According to the model, it build a image pyramid so that any size of images should work. Is there any rule when setting the parameters? I check the

[2020-05-12 11:16] #11 closed

[2020-05-12 11:25] nwesem commented on #11
Hey @mel0615, what was the problem?

[2020-05-12 16:35] do-van-long commented on #6
Hi @elisabetta496!
I have the same problem as @deaffella . Could you please share with us how to convert and save facenet.uff to facenet.engine using Python?
Many thanks.

[2020-05-12 16:51] do-van-long opened #12 "Failed to convert facenet.pb model to facenet.onnx model"
Hi @nwesem,
Since converting a tensorflow model to UFF model will be deprecated in the future and transforming deep learning models to ONNX is becoming popular, I have tried to convert facenet.pb to facenet.onnx using tf2onnx but I have not succeeded. The problem is that there are some layers in facenet.pb that are not supported in tf2onnx.
Have you ever tried to do that? or Could anyone give me s

[2020-05-13 08:59] mel0615 commented on #11
@nwesem Oh it's a small mistake.
Finally I found that the program didnot create a NEW trt-engine when it built with a new group of parameters. It found the path of the PRIOR engine created by prior parameters, and loaded it. I just need to recreate it.
Thank u anyway. I should be more careful, lol.

[2020-05-21 15:18] git-yu-inoue commented on #3
@lucasBruge, do-van-long
second time problem's Cause is not release VideoStreamer.

src/videoStreamer.cpp
add file end
---
void VideoStreamer::release() {
    m_capture->release();
}
---
src/videoStreamer.h
add this
---
...
public
       std::string gstreamer_pipeline (int capture_width, int capture_height, int display_width, int   display_height, int frameRate, int flip_method=0);
    void releas

[2020-05-23 08:08] git-yu-inoue commented on #9
//cv::cvtColor(m_croppedFaces[i].faceMat, m_croppedFaces[i].faceMat, CV_RGB2BGR);
    cv::cvtColor(m_croppedFaces[i].faceMat, m_croppedFaces[i].faceMat, cv::COLOR_RGB2BGR);

[2020-06-01 12:24] glennford49 opened #13 "cmake error makefile all failed"
CMakeFiles/mtcnn_facenet_cpp_tensorRT.dir/build.make:110: recipe for target 'CMakeFiles/mtcnn_facenet_cpp_tensorRT.dir/src/faceNet.cpp.o' failed

make[2]: *** [CMakeFiles/mtcnn_facenet_cpp_tensorRT.dir/src/faceNet.cpp.o] Error 1
make[2]: *** Waiting for unfinished jobs....
CMakeFiles/Makefile2:67: recipe for target 'CMakeFiles/mtcnn_facenet_cpp_tensorRT.dir/all' failed
make[1]: *** [CMakeFiles/mtc

[2020-06-01 13:33] nwesem commented on #13
On what kind of machine are you trying to build this project?

[2020-06-01 13:34] nwesem commented on #12
Have you found a solution to this issue yet @do-van-long ?

[2020-06-01 14:06] glennford49 commented on #13
Jetson nano 4.3 jetpack ,any idea on this error?

[2020-06-05 05:15] biyuehuang opened #14 "multi-stream video input by deepstreamSDK"
Do you know how to use this project mtcnn_facenet_cpp_tensorRT with multi-stream video input, i.e. by deepstreamSDK

[2020-07-07 02:18] xudh1991 opened #15 "facenet is notaccurate"

[2020-07-07 02:18] #15 closed

[2020-07-07 02:28] xudh1991 opened #16 "facenet is not accurate"
I have run through the whole process, but the facenet is not accurate.
I tested the accuracy of face recognition, but the accuracy rate is only 20%.
I suspect there are some errors between the image and the model, such as normalization, color change, I tried to find the error but no success
I looked at the feature vector, the whole value is very small, most are less than 0.1
I need help, please gi

[2020-08-04 15:16] deaffella commented on #6
hi! I'm still trying to open optimized models in Python. could you help me with advice on how to create a. so file for the plugin?

[2020-08-12 09:08] gugumituo commented on #16
Hi,have you solve the problem?I also meet the same issue.
I found when i put two same pictures to the model,the distance is 0;
But i put a cropped image from the old one,the distance becomes a big value,which is bigger than 1000.
I don't know why,please help me!

[2020-09-18 21:07] nwesem commented on #9
Cuda 10.2 works on develop branch, can anybody check if everything is properly working?

[2020-09-18 21:09] nwesem commented on #13
@glennford49 try building the develop branch, it should work for Jetpack 4.4. I will merge this as soon i have fixed all minor bugs

[2020-09-18 21:09] #13 closed

[2020-09-18 21:10] nwesem commented on #10
I tested this with Jetpack 4.4 and it is properly working with tensorflow 1.15 and python 3.6

[2020-09-18 21:10] #10 closed

[2020-09-18 21:13] nwesem commented on #6
I'm not sure if this is the way it works. Are you @deaffella ? If so, I could help you compile the project as a dynamic or static library.

[2020-09-18 21:14] nwesem commented on #5
1. Check the path to the input file, it is hardcoded in the python script
2. Try using tensorflow 1.15 and python 3.6, I have never had any issues doing it this way and I just tested this again

[2020-09-18 21:14] #5 closed

[2020-09-18 21:50] nwesem commented on #3
Thanks a lot! All of this was fixed and released on master branch, also there are tags now so you can jump back if you are using an older version of Jetpack

[2020-09-18 21:50] #3 closed

[2020-09-18 21:50] nwesem commented on #9
Tested and merged to master branch also there are tags now for different Jetpack versions

[2020-09-18 21:50] #9 closed

[2020-09-18 21:53] nwesem commented on #7
Try new release [jp4.4](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/releases/tag/jp4.4) with Jetpack 4.4 and tensorflow 1.15 and let me know if that helped. Thanks

[2020-09-26 15:56] githubutilities opened #17 "Core at changing video stream from cam to rstp"
I just change cam to rstp videostream, and I got a core dump, which I trace it back to https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/blob/master/src/mtcnn.cpp#L85. Any idea how to fix it?

[2020-09-27 12:35] nwesem commented on #17
hi @githubutilities, using a RSTP videostream as input would be a cool enhancement. Can you fork the repository and push your code such that I can take a look? Maybe I can make it work

[2020-10-01 16:07] AnasMK commented on #12
I have successfully converted Facenet to ONNX model. But, the facenet.pb file provided by this repo didn't work.
I used [facenet_keras.h5](https://drive.google.com/drive/folders/1pwQ3H4aJ8a6yyJHZkTwtjcL4wYWQb7bn) provided in this [tutorial](https://machinelearningmastery.com/how-to-develop-a-face-recognition-system-using-facenet-in-keras-and-an-svm-classifier/) and convert it to ONNX and then to T

[2020-10-01 16:15] AnasMK commented on #6
First note this quote from the [official TensorRT Release Notes](https://docs.nvidia.com/deeplearning/tensorrt/archives/tensorrt-700/tensorrt-release-notes/tensorrt-7.html#rel_7-0-0):

I have successfully converted Facenet to TRT engine using ONNX. And used it with Python

I downloaded [facenet_keras.h5](https://drive.google.com/drive/folders/1pwQ3H4aJ8a6yyJHZkTwtjcL4wYWQb7bn) provided in this [tu

[2020-10-02 15:16] githubutilities commented on #17
It's simple. I just change line `VideoStreamer videoStreamer = VideoStreamer("rtsp://192.168.10.21:8554/unicast", videoFrameWidth, videoFrameHeight);` in file `main.cpp`. This can get frame from rstp video, but core at feeding the frame into facenet model.

[2020-10-04 11:34] han-bun opened #18 "changing the screen resolution"
I am not familiar with opencv so pardon me with my question.

I would like to ask if it is possible to run the program with 720p resolution?
I tried doing that and face detection did not work.
I am currently understanding the code in the facenet.cpp
Can you help me with this?

Thank you.

[2020-10-05 10:44] nwesem commented on #18
Yes, that's possible, but you will have to rebuild all mtcnn engines (you can simply delete them from your mtcnnModels folder and they will be automatically rebuilt).
You cannot use the same ones because mtcnn builds smaller/higher amount of engines in case you want to scale up/down (respectively). hope that will solve your issue.

[2020-10-08 11:13] han-bun commented on #18
Thank you for answering my question.
I will try your recommendation.
If I have not succeeded, I will ask a follow up question.
(Sorry I am still learning about deep learning stuffs.)

[2020-10-08 20:39] AnasMK commented on #6
Check this repo [riotu-lab/tf2trt_with_onnx](https://github.com/riotu-lab/tf2trt_with_onnx) to covert Facenet model to TensorRT engine and use it with Python

[2020-10-08 20:39] AnasMK commented on #12
Check this repo [riotu-lab/tf2trt_with_onnx](https://github.com/riotu-lab/tf2trt_with_onnx) to covert Facenet model to TensorRT engine and use it with Python

[2020-10-14 19:25] prakharter opened #19 "Unable to find jpg in imgs folder"
I followed the steps and added person1.jpg and person2.jpg in imgs folder but when i run ./mtcnn_facenet_cpp_tensorRT inside build folder i get the below error , please advise what am i doing wrong , thank you

[code]

[2020-10-14 20:11] nwesem commented on #19
Hey prakharter,
the jpgs were successfully read, the actual problem is your video device you are using as input. This repository depends on a video stream input (e.g. a camera device). [This if-clause](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/blob/4ebb525e6e89cfbd6e80cd47d12a4fdb7223f8f6/src/main.cpp#L72-L77) fails in your case. That means the video device you are using provides an inv

[2020-10-14 20:59] prakharter commented on #19
Thanks so much , yes the problem was with the camera not connected properly though after connection the program is stuck at the below point -

[code]

[2020-10-23 06:31] han-bun commented on #18
Thank you for your help, I was able to output the program in 720p.

I would like to ask one more question.

I am using web camera and I want to use mjpeg in the video writter so I add the following code.

m_capture->set(cv::CAP_PROP_FOURCC,cv::VideoWriter::fourcc('M','J','P','G') );

but was not successful. The system still uses YUYV pixel format.

Is there any problem that was encountered that ha

[2020-10-24 11:41] #17 closed, assigned to nobody

[2020-11-02 19:14] lnxguyz commented on #16
I am facing the same issue, pls help

[2020-11-03 03:04] #16 closed

[2020-11-03 03:07] xudh777 commented on #16
I've given up the project. I suggest giving up

[2020-11-11 12:17] Darshcg opened #20 "Empty frame! Exiting... Try restarting nvargus-daemon by doing: sudo systemctl restart nvargus-daemon"
Hi @nwesem,

Thanks for this Repo.
I am testing this in my Laptop having RTX 2060.
When I am running this command `./mtcnn_facenet_cpp_tensorRT` I am getting like this:
**End generating TensorRT runtime models
Parsing Directory: ../imgs
Empty frame! Exiting...
 Try restarting nvargus-daemon by doing: sudo systemctl restart nvargus-daemon
Counted 0 frames in 0 seconds! This equals -nanfps.**

May I

[2020-11-11 23:12] nwesem commented on #20
https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/issues/19

[2020-11-12 05:16] Darshcg commented on #20
Hi @nwesem,
Thanks for your reply.
I am running the example in my Laptop(using Laptop's Webcam(/dev/video0)), I also set **isCSICam = false**.
But still I am facing an Issue.

[2020-11-13 10:13] Darshcg commented on #20
This has been Resolved thank you.
I compiled after editing the main.cpp script

[2020-11-13 10:16] #20 closed, assigned to nobody

[2020-11-20 12:53] lagurus opened #21 "Low performance"
Great work,
but I am not able to reach desired fps (on Jetson Nano 15fps)

My result are quite low (3fps)

With _LOG_TIMES_ it  show:
mtCNN took 201ms
Forward took 135ms
Feature matching took 0ms.

I am using last Jetpack 4.4.1

<b></i>#jetson_release</i></b>
<i>
 - NVIDIA Jetson Nano (Developer Kit Version)
   * Jetpack 4.4.1 [L4T 32.4.4]
   * NV Power Mode: MAXN - Type: 0
   * jetson_stats.servi

[2020-11-20 13:19] nwesem commented on #21
that's interesting... i will look in to that as soon as i can

[2020-11-25 06:12] jhanvi55 opened #22 "trt_norm build error"
I'm trying to build and it shows the following error

In file included from /usr/include/c++/5/cstdint:35:0,
                 from /usr/include/x86_64-linux-gnu/NvInferRuntimeCommon.h:54,
                 from /usr/include/x86_64-linux-gnu/NvInferRuntime.h:59,
                 from /usr/include/x86_64-linux-gnu/NvInfer.h:53,
                 from /usr/include/x86_64-linux-gnu/NvInferPlugin.h:53,

[2020-11-27 01:47] quokkaHunter opened #23 "UNKNOWN: messages & ERROR: UffParser : Could not open ../facenetModels/facenet.uff"
I follow all your steps.
But when I ran ./mtcnn_facenet_cpp_tensorRT, this messages pop up...
How can I fix it?

my tensorflow version : 1.15.4  with jp4.4

UNKNOWN: Registered plugin creator - ::GridAnchor_TRT version 1
UNKNOWN: Registered plugin creator - ::NMS_TRT version 1
UNKNOWN: Registered plugin creator - ::Reorg_TRT version 1
UNKNOWN: Registered plugin creator - ::Region_TRT version 1
UNK

[2020-12-10 15:23] lagurus commented on #21
Maybe I have realized what all performance problem is all about.
I tested with video/picture with 6 faces.

- no faces in video - 43fps
- 1 face - 17fps
- 3 faces - 8 fps
- 6 faces - 3 fps

[2020-12-14 09:56] Darshcg opened #24 "IP Camera Streaming through RTSP"
Hi @nwesem,
Thanks to your repo.
What are the modifications need to be done in order to work for IP Camera(as an Input)?

Best Regards,
Darshan

[2020-12-16 09:01] nwesem commented on #21
I think we could batch process the faces and speed it up that way.. I tried doing that but had problems with a dynamic amount of faces as an input to the tensorRT inference. I guess we could set a maximum of e.g. 6 faces and in case there are less faces we could append the remaining matrices of faces as zeros.. That would mean you need to change the tensorRT model of the facenet.
but look at the m

[2020-12-16 09:03] nwesem commented on #24
hi please take a take a look at the closed issue first next time you create a new one :) hope this one helps

https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/issues/17

[2020-12-16 09:03] #24 closed, assigned to nobody

[2020-12-16 14:09] Darshcg opened #25 "Face Registration with multiple faces of a Single Person"
Hi @nwesem,

Thank you for your Repo.
I was having a doubt on giving a multiple faces of a Single Person for Registration. How to do so?
If we are giving a single image for the Person the accuracy is not good. So, I thought of giving a multiple images for a Single Person to get the good accuracy.

Thanks in advance
Darshan

[2020-12-19 23:41] mr-pl3r opened #26 "Performance & Findings with 300 pictures."
Hi there @nwesem ,
First of all - thank you for this repo.

Second of all, I have loaded the imgs folder as of today with 300 pictures of people, and the system seems to be working within ~70% accuracy or less.

Please see below some of my findings I had during the deployment:

- Lighting during the recognition process. - the system is located outdoors and usually in the mornings (when the sun hit

[2020-12-24 13:01] jishang1602 commented on #17
i tried with the VideoStreamer videoStreamer = VideoStreamer("rtsp://192.168.10.21:8554/unicast", videoFrameWidth, videoFrameHeight); in main.cpp but it is getting error which is shown below.

End generating TensorRT runtime models
Parsing Directory: ../imgs
Segmentation fault (core dumped)

in videoStreamer.h and videoStreamer.cpp
VideoStreamer(int nmbrDevice, int videoWidth, int videoHeight, int

[2020-12-24 13:02] jishang1602 opened #27 "rtsp link is not working"
i tried with the VideoStreamer videoStreamer = VideoStreamer("rtsp://192.168.10.21:8554/unicast", videoFrameWidth, videoFrameHeight); in main.cpp but it is getting error which is shown below.

End generating TensorRT runtime models
Parsing Directory: ../imgs
Segmentation fault (core dumped)

in videoStreamer.h and videoStreamer.cpp
VideoStreamer(int nmbrDevice, int videoWidth, int videoHeight, int

[2020-12-28 17:07] sildipankar opened #28 "Issue with .pb to uff conversion"
Following issue is observed:-
arning: No conversion function registered for layer: L2Norm_Helper_TRT yet.
Converting embeddings/Rsqrt as custom op: L2Norm_Helper_TRT
Traceback (most recent call last):
  File "step01_pb_to_uff.py", line 33, in <module>
    output_filename=uff_file, text=False)
  File "/usr/lib/python3.6/dist-packages/uff/converters/tensorflow/conversion_helpers.py", line 225, in fr

[2020-12-29 09:19] jishang1602 commented on #28
It works with tensorflow 1.15.0 or 1.15.2 version. please try with it

[2020-12-29 09:24] jishang1602 commented on #27
I have checked with different frame size on camera or CSI camera. In Jetpack 4.4 it works with only 640*480 resolution. If i am using rtsp original resolution (640*360), The code is dump. I changed the size in main.cpp. still the code is dump. Do you know how to work with rtsp any resolution or by default resolution of the rtsp. because if the camera is resized than face identification not work. C

[2021-01-11 22:20] nwesem commented on #17
@jishang1602 Have you solved this? Maybe running it with gdb will help you find where it crashes. Currently, I don't have a setup to test this.

[2021-01-12 04:48] jishang1602 commented on #17
@nwesem NO, it is still not solved. I have to convert the video to 640x480 size. May be this model is resized to 640x480. I have checked the https://github.com/PKUZHOU/MTCNN_FaceDetection_TensorRT/blob/dfad60565216a68413f434b500168c456fdd2587/src/demo.cpp file also. they are also doing resize of the frame. I need one more help from you. Can you help me in videoStreamer.cpp with threading?  on rtsp

[2021-01-13 03:03] hirwa145 opened #29 "Video file test"
Is there a way i can use video file as input instead of image/photo.

[2021-01-21 06:23] jishang1602 commented on #29
yes

[2021-01-21 23:44] hirwa145 commented on #29
how can i deploy it using deepstream?

[2021-01-22 12:22] jishang1602 commented on #29
how can i deploy it using deepstream?
--> Not yet build.

Is there a way i can use video file as input instead of image/photo.?
--> in main.cpp changing  the 45th line from 0 to video.mp4

44. // init opencv stuff
45.   VideoStreamer videoStreamer = VideoStreamer("video.mp4", videoFrameWidth, videoFrameHeight);
46.   cv::Mat frame;

I hope i answered your query.
Thanks

[2021-01-22 23:08] hirwa145 commented on #29
Thank you. I really appreciate your help and time.

[2021-02-01 05:47] hirwa145 opened #30 "Deepstream"
Is there a way i can deploy using Nvidia Deepstream ? Or create Deepstream app from this?

[2021-02-02 11:16] shubham-shahh commented on #30
check this, dlib model and facenet have similar output
https://forums.developer.nvidia.com/t/face-recognition-using-dlib-with-jetson-nano/167172

[2021-02-02 11:17] shubham-shahh opened #31 "performance on jetson nano"
in the readme, you've mentioned you got 15fps on jetson nano, I wanted to know what was the video source and video quality?

[2021-02-02 15:07] hirwa145 commented on #30
So it is possible

[2021-02-04 06:58] hirwa145 commented on #29
I tried the solution you provided for using mp4 vido file as input. But i am getting errors

[2021-02-04 07:00] jishang1602 commented on #29
Can you please share the error

[2021-02-04 11:28] hirwa145 commented on #29
`End generating TensorRT runtime models
Parsing Directory: ../imgs
Empty frame! Exiting...
 Try restarting nvargus-daemon by doing: sudo systemctl restart nvargus-daemon
Counted 0 frames in 0 seconds! This equals nanfps.
`

[2021-02-04 11:28] hirwa145 commented on #29
`End generating TensorRT runtime models
Parsing Directory: ../imgs
Empty frame! Exiting...
 Try restarting nvargus-daemon by doing: sudo systemctl restart nvargus-daemon
Counted 0 frames in 0 seconds! This equals nanfps.
`

[2021-02-04 11:32] hirwa145 commented on #29
After performing this command `/mtcnn_facenet_cpp_tensorRT
I did  `sudo systemctl restart nvargus-daemon` but i am still getting that error, what could be the reason?

I am not trying to compare from camera, just using mp4 video as input test

[2021-02-04 12:38] jishang1602 commented on #29
Did you put your database in the imgs folder? Also need to resize the video file to 640x480 size. Please do this changes and tell me the results

[2021-02-04 13:53] hirwa145 commented on #29
"Did you put your database in the imgs folder", you mean the image of known person to recognise in the video?

[2021-02-04 13:54] jishang1602 commented on #29
Yes the image database that you want to recognise in the video

[2021-02-04 13:55] jishang1602 commented on #29
This folder contains images of people you would like to recognize. The format of picture should class_name.jpg.

[2021-02-04 13:58] hirwa145 commented on #29
in which folder should i put the video test?

[2021-02-04 14:18] hirwa145 commented on #29
is it possible to use 1080x1920? by setting this to

`   34 int videoFrameWidth = 1080;
    35 int videoFrameHeight = 1920`

[2021-02-04 14:25] hirwa145 commented on #29
Thank you, i managed to load the video successfully, even tho it is showing new person on the face of a person whose face is included in the imgs file

[2021-02-04 14:25] hirwa145 commented on #29
Thank you, i managed to load the video successfully, even tho it is showing new person on the face of a person whose face is included in the imgs file

[2021-02-04 16:10] hirwa145 commented on #29
Whilest doing the test, i  realised that smaller faces are not detected, is there a way to solve this?

[2021-02-04 16:13] jishang1602 commented on #29
40 is the minimum pixel size for face detection. You can reduce it. But normally people are taking the smaller size upto 40 pixels

[2021-02-04 16:27] hirwa145 commented on #29
how can i change the pixel size? i
mtcnn.cpp

`//set minimal face size (weidth in pixels)
 nt minsize = 60;
`
this side? and set it to lower size?

[2021-02-05 11:57] nwesem commented on #31
hey @shubham-shahh, i got 15fps at 640x480 resolution

[2021-02-05 11:58] nwesem commented on #30
@hirwa145 this was asked before and i think it is a great idea. Let me know if you are interested to work on that

[2021-02-05 18:22] shubham-shahh commented on #31
Awesome, thanks. Do you have any idea, how can I build multi source pipeline for face recognition?
Thanks

[2021-02-05 18:23] shubham-shahh commented on #30
@nwesem I am working on a similar project, but first I'm trying to use dlib's model for face recognition with deepstream

[2021-02-09 07:14] shubham-shahh opened #32 "Cannot read from USB camera"
Hi @nwesem
I am using Jetson nano and followed all the steps you've mentioned in readme
when I run ./mtcnn_facenet_cpp_tensorRT
i am getting the following output i have attached in the .txt file
[iss.txt](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/files/5949526/iss.txt)

[2021-02-09 07:33] shubham-shahh commented on #32
solved it by changing the value in main.cpp line 38 set the booean to false

Can i use multiple usb or rtsp sources?

[2021-02-09 09:30] shubham-shahh commented on #25
you need to create a .pkl file with all the facial embedding of a faces(be it single or multiple) of the same person and then compare that embedding with the feature vector generated by facenet. soon ill put up a PR with this feature
you can access feature vector [here](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/blob/4ebb525e6e89cfbd6e80cd47d12a4fdb7223f8f6/src/faceNet.cpp#L208)

[2021-02-10 04:04] shubham-shahh commented on #17
how do you resize it?

[2021-02-10 04:33] jishang1602 commented on #17
Once the frame is read from video or image.

E.g.,
frame = cv::imread (image_path);
cv:: resize (frame,frame,cv:: Size (640,480),0,0,cv::INTER_CUBIC);

This way.

[2021-02-10 04:41] shubham-shahh commented on #17
I am trying to take the input from rtsp stream

[2021-02-10 06:25] hirwa145 commented on #30
Have you succeeded with it?

[2021-02-10 07:18] shubham-shahh commented on #30
currently i am working on https://github.com/riotu-lab/deepstream-facenet this, because to run this repo with deepstream will require us to configure mtcnn as with the deepstream.

[2021-02-13 04:38] shubham-shahh commented on #30
Hey, I managed to get facenet working with deepstream but it's a python implementation. shall I put up a pull request? @nwesem

[2021-02-13 18:36] nupnup-goddamn opened #33 "how to train the classifier based on subfolders of different people?"
Hi, i would like to use subfolders in the imgs folder of different people so that i can have the classifier to train on mulitple images of the same person (person A) to better distinguish Person A from a display attack of person A (e.g. picture of person A on a phone display).

How should i modify the main.cpp code under getting embeddings of known faces as well as saving new faces of the same per

[2021-02-15 11:23] hirwa145 commented on #30
@shubham-shahh yes please. Can you upload it. I am very interested to see how you managed to make it work with Deepstream

[2021-02-15 12:28] shubham-shahh commented on #30
I have a python edition, currently I am working on a C++ version as well, shall I PR a python version?

[2021-02-15 12:32] hirwa145 commented on #30
Yes, you can PR the python version

[2021-02-15 22:15] hirwa145 commented on #30
@shubham-shahh you pull requested the python version?

[2021-02-16 02:54] shubham-shahh commented on #30
not yet, @nwesem should create a new branch for the python version, meanwhile, I'll commit the project to my account.

[2021-02-16 09:54] hirwa145 commented on #30
Yeah. That is also okay, you can commit it to your account whilest we are waiting for him to open new branch

[2021-02-16 12:14] shubham-shahh commented on #30
I'll complete it by this weekend

[2021-02-16 13:18] hirwa145 commented on #30
Alright, thank you

[2021-02-17 13:24] nwesem commented on #30
hey @shubham-shahh, cool! Thanks for contributing to this! I am looking forward to see your implementation! I added you as a collaborator on the project, please add your stuff to a branch called `python-develop` and I will check it out and merge it if everything works as expected. Currently I don't have a lot of work to do, but I will take the time to test your implementation asap.

[2021-02-17 13:28] nwesem commented on #30
hey @shubham-shahh, cool! Thanks for contributing to this project! I am looking forward to see your implementation. I added you as a collaborator on the project, please add your code to a branch called python-develop and I will check it out and merge it if everything works as expected. Currently I am pretty busy with work, but I will take the time to test your implementation asap.
If you can't cre

[2021-02-17 13:28] shubham-shahh commented on #30
Hey, I hope you are doing fine, thanks for the branch I'll submit my work by this weekend.

[2021-02-18 11:23] nwesem opened #34 "Jetpack 4.5"
Has anyone tested this with Jetpack 4.5? Is everything working as expected?

[2021-02-20 12:37] shubham-shahh commented on #30
Hey, @nwesem I updated the develop branch of my fork with the python implementation, @hirwa145 please test it and let me know if there are any issues, and once this is tested ill put up a pull request on your develop branch and it would be great if we keep them in separate branches. [Here](https://github.com/shubham-shahh/mtcnn_facenet_cpp_tensorRT/tree/develop)

[2021-02-23 08:26] shubham-shahh commented on #33
you need to create a separate program which iterated through the folders of images and save embedding of the at person corresponding to the name and save it in a pickle file.
you need to load this pickle file in your program and compare the embedding in pickle file with the ones received from the model at any instance.

[2021-02-23 12:00] hirwa145 commented on #30
Hello @shubham-shahh . Great job doing deepstream implementation. So far i tried the python implementation and it is working perfect and thank you. I am currently testing the cpp implementation version even tho it is taking long for testing the sample app and i am not sure why.  But i have a question, is there a way to implement the recognition where faces in video files are compared to saved imag

[2021-02-23 12:15] shubham-shahh commented on #30
Hello, did you follow the guide step by step? was there any issue at any step? and thanks for testing. and about your question, I will implement that functionality this weekend if possible but if you want to implement it by yourself i can tell you the approach which you can follow.
thanks again

[2021-02-23 12:30] hirwa145 commented on #30
for python implementation, everything works as expected. But for C++ implementation, i have to first test the test sample, so it seems it stuck here
`NvMMLiteOpen : Block : BlockType = 261
NVMEDIA: Reading vendor.tegra.display-size : status: 6
NvMMLiteBlockCreate : Block : BlockType = 261 ` . D you know why?

[2021-02-23 12:33] shubham-shahh commented on #30
Is this the sample App? or the one i included in the repo? whats your video source .mp4 or .h264?

[2021-02-23 12:37] hirwa145 commented on #30
sample_720p.mp4, as mentioned from your instructions

[2021-02-23 12:39] shubham-shahh commented on #30
and is it the sample app present already or you are using the repo app?

[2021-02-23 12:41] hirwa145 commented on #30
yes, available since i installed deepstream. it must be tested on that sample? Or i can test on another .mp4 file?

[2021-02-23 12:42] shubham-shahh commented on #30
The one that is already presemt works with .h264 files only and the one in the repo works with mp4 files and rtsp streams

[2021-02-23 12:46] hirwa145 commented on #30
So which means when i am doing testing c++ implementation. i do this `./deepstream-infer-tensor-meta-app -t infer /opt/nvidia/deepstream/deepstream-5.0/samples/streams/sample_720p.h264` instead of `./deepstream-infer-tensor-meta-app -t infer /opt/nvidia/deepstream/deepstream-5.0/samples/streams/sample_720p.mp4`

[2021-02-23 12:47] shubham-shahh commented on #30
right

[2021-02-23 13:06] hirwa145 commented on #30
Perfect. Now i am able to run C++ implementation successfully and detecting faces as it should. Sometimes misses face that are out of focus.( probably due to resolution/quality of the video) , also if i noticed that when testing on .mp4 or longer video, there is no quiting option, so i have to wait to wait for video to finish so that i quit the app.

[2021-02-23 13:10] hirwa145 commented on #30
Also if it is possible, could you show me how i can implement the function that the name of face owner is displayed please? Thank you

[2021-02-23 13:13] shubham-shahh commented on #30
Actually the quit option is like you need to ctrl C on the terminal, you need to keeo terminal visible as the sink is overlay sink, if you want really accurate performance for face detection you can change yolo face's precision to FP32 but it will really take a hit on performance which is not worth it.
What's your approach to implement it? C++ or python?

[2021-02-23 13:21] hirwa145 commented on #30
I would like to test both(yolo face's precision changed to FP32) and compare.

I prefer C++ more, because the input is .mp4 file, also does it accept 1080p resolution?

[2021-02-23 13:23] shubham-shahh commented on #30
Any type of resolution will work, you just need to change, the resolution in the app and in case you are planning to go with C++, you need to first save the embeddings in a file and then, you need to match them with the current embeddings received

[2021-02-23 13:29] hirwa145 commented on #30
`you need to first save the embeddings in a file and then, you need to match them with the current embeddings received`
How  do i do this please? Will need to retrain the model?

[2021-02-23 13:33] shubham-shahh commented on #30
No no, it works on the similar principal like the master branch of this repo, can you gimme time till this weekend I'll try to implement it and let you know

[2021-02-23 13:36] hirwa145 commented on #30
Sure, no problem. Take your time. And also what about changing yolo face's precision to FP32?

[2021-02-23 13:38] shubham-shahh commented on #30
In dstest pgie config file change the network mode

[2021-02-23 13:44] hirwa145 commented on #30
change this `net-scale-factor(Default=1), network-mode(Default=0 i.e FP32),` to `net-scale-factor(Default=1), network-mode(Default=FP32),`

[2021-02-23 13:49] hirwa145 commented on #30
I set `network-mode=1` to `network-mode=0` for FP32

[2021-02-23 13:54] shubham-shahh commented on #30
Yes correct

[2021-02-24 07:15] hirwa145 commented on #30
Is there a way to know how many fps? For testing purpose.

[2021-02-24 07:19] shubham-shahh commented on #30
There's a inbuilt implementation to know fps in deepstream, but in that case you need to refer a test app that has demonstrated its use.

[2021-02-24 16:25] Siddharthm10 commented on #34
Yes, I have tested it with the latest jetpack version and as far as I can tell everything works fine.

[2021-02-25 01:16] mr-pl3r opened #35 "Jetson Nano 2GB & JetsonPack 4.5"
Hi Niclas, @nwesem

I have been running this project on a Jetson Nano 4GB & JetsonPack 4.4 successfully for the last few months, but this past week I was trying to get it up and running on a Jetson Nano 2GB with no luck.

The system keeps running out of memory while running a graph construction and optimization - please refer to the picture  attached - .

Do you know if there's a way to run this p

[2021-02-25 01:34] mr-pl3r commented on #35
Never mind, I was able to get it up and running by reducing the batch size from 30 to 16.

[2021-02-25 01:34] #35 closed, assigned to nobody

[2021-02-25 01:34] mr-pl3r commented on #34
Same here, I was able to run in on Jetpack 4.5 with no problems.

[2021-02-27 01:03] hirwa145 commented on #30
Did you manage to implement the face recognition features where faces are compared from saved faces to determine who face is?

[2021-02-27 09:45] shubham-shahh commented on #30
Not yet as I'm occupied, but ill complete it by tomorrow if possible.

[2021-02-28 20:38] hirwa145 commented on #30
from issue #25 , is it possible to implement with this deepstream app?

[2021-02-28 20:47] shubham-shahh commented on #30
Yes, I'm working on it, for both the branches

[2021-03-01 20:29] hirwa145 commented on #30
From test_facenet_trt.py , i saw that you made these changes`input_file_path = 'pat/to/your/testimage.jpg' dataset_embeddings_path = '/path/to/your/dataset' ` How dataset is prepared?

[2021-03-02 02:52] shubham-shahh commented on #30
Hi, I am working on that. You need to extract embeggings of each person, from images and save it in a pickle file.

[2021-03-07 21:25] hirwa145 commented on #30
Hello @shubham-shahh, how far with the implementation?

[2021-03-08 09:51] hirwa145 commented on #30
Are embedding saved as.npz file or should saved as .pkl file? Currently i have all photos needed to be recognized from video file. One labeled folder has photos of same person.

Does util.py need to be in same folder as dataset when being executed?

[2021-03-11 06:53] #33 closed, assigned to nobody

[2021-03-11 06:55] nupnup-goddamn commented on #33
Thanks for your insights! I now know how to iterate the folders using os library and saving the model training as a pkl file. cheers!

[2021-03-17 08:14] shubham-shahh commented on #30
npz or pkl both can be used

[2021-03-21 15:34] hirwa145 commented on #30
So after getting picke file, i will use `test_facenet_trt.py `to train the model with the new created pickle file?

[2021-03-22 02:42] shubham-shahh commented on #30
Creating a pickle file means you have all the embeddings of the face. now all you need to do is, match the embedding received from the deepstream app and the ones in the pickle file and find the match.

[2021-03-29 20:30] hirwa145 commented on #30
You haven't implemented it yet?

[2021-03-30 02:53] shubham-shahh commented on #30
I don't Have a Jetson with me Rn so I'm unable to work on it. sorry.

[2021-03-30 03:34] hirwa145 commented on #30
Understandable, i will try to implement and will consult you if i have any question

[2021-03-30 06:35] shubham-shahh commented on #30
sure, ill help you with the doubts, and thanks for understanding

[2021-04-05 11:47] hirwa145 commented on #30
What is the cause of flickering bbox during detection?

[2021-04-05 12:42] shubham-shahh commented on #30
I am not aware of any flickering, could you please post a gif or short video demonstrating the same.

[2021-04-05 14:36] hirwa145 commented on #30
IMG_4430.MOV

[2021-04-05 14:39] hirwa145 commented on #30
https://user-images.githubusercontent.com/65422159/113586113-b05ee280-965f-11eb-8886-10d8cb24d3b7.mov

[2021-04-05 14:51] hirwa145 commented on #30
Can see it?

[2021-04-06 06:53] hirwa145 commented on #30
I managed to solve. The cause of flickering was because of the interval=1 in Deepstream app, Which means the detector was skipping some frames. I set it to interval=0. And there was no flickering anymore.

[2021-04-06 11:43] shubham-shahh commented on #30
No, But I am glad you solved it.

[2021-04-12 17:40] hirwa145 commented on #30
Do i have to use tf version>2?

[2021-04-13 02:39] shubham-shahh commented on #30
for what?

[2021-04-13 13:39] hirwa145 commented on #30
For last part of face embeddings, do i have to make new python script?

[2021-04-13 13:43] shubham-shahh commented on #30
It's upto you. I'll give you a stepwise guide

First, run the app on a video of a person, save all rhe embeddings it generated in a pickle file.

Please have a look at [This](https://www.pyimagesearch.com/2018/06/18/face-recognition-with-opencv-python-and-deep-learning/) tutorial, how he generates the embeddings and compares them

[2021-04-14 22:21] hirwa145 commented on #30
All of the sudden i am getting this error `Warning:Num classes mismatch. Configured:1,detected by network :0` and I didn't change anything.

[2021-04-15 12:37] hirwa145 commented on #30
what is the next step after getting embedding

[2021-04-15 12:40] shubham-shahh commented on #30
Did you create the pickle file with list of embeddings?

[2021-04-15 13:04] hirwa145 commented on #30
Yes, I finished it.

[2021-04-15 18:17] hirwa145 commented on #30
Do i have to run `test_facenet_trt.py` script with soecified location of a pickle file?

[2021-04-15 20:16] #31 closed, assigned to nobody

[2021-04-16 06:31] shubham-shahh commented on #30
now all you have to do is compare the embeddings.

[2021-04-16 08:33] hirwa145 commented on #30
The problem is how do i do that?

[2021-04-16 08:50] hirwa145 commented on #30
Do i use this?

[2021-04-16 08:53] shubham-shahh commented on #30
not netessary, as it uses MTCNN for first stage

[2021-04-16 08:55] shubham-shahh commented on #30
[This](https://www.pyimagesearch.com/2018/06/18/face-recognition-with-opencv-python-and-deep-learning/) this tutorial covers that

[2021-04-16 09:15] hirwa145 commented on #30
Mhm, it can be applied same way to the Deepstream facenet app?

[2021-04-17 04:16] shubham-shahh commented on #30
Yes, the embeddings part.

[2021-04-17 05:16] hirwa145 commented on #30
Amd what about the comparing part?

[2021-04-17 05:19] shubham-shahh commented on #30
It briefly explains the comparing part as well.

[2021-04-17 23:59] hirwa145 commented on #30
It work only with python implementation. Is there a way to make it work with CPP implementation?

[2021-04-20 21:23] hirwa145 commented on #30
In python implementation, which part of code that does output those vectors for face features extracted?

[2021-04-21 08:11] shubham-shahh commented on #30
The logic will remain the same

[2021-04-21 08:12] shubham-shahh commented on #30
[this](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/blob/753ca013b5a893f4b1aa04fa70cf883fa67f3b50/facenet-python/deepstream_facenet.py#L223)

[2021-04-21 12:26] hirwa145 commented on #30
I know that is the python code responsible for all facenet actions. I wanted to know which line in that file, that is outputing/producing those vector(embeddings). That will be very helpful

[2021-04-21 12:28] shubham-shahh commented on #30
Hi, the link mentioned above is the permalink to that line.

[2021-04-21 22:41] hirwa145 commented on #30
How do i count count avg mean and avg std for embeddings?
For example, i calculated vector distance between 2 photos of Obama, and i got average of 0.4587....
And when i compare the photo of Obama and elton john or benaffleck photos, i get average of 1.562....

How do i calculTe avg mean avg std from these info?

[2021-04-23 14:37] lehoangquan98 opened #37 "Aborted (core dumped)"
Hi @nwesem
I am using Jetson nano and followed all the steps you've mentioned in readme
when I run ./mtcnn_facenet_cpp_tensorRT
I am getting the following output:
quan@quan:~/Desktop/PyProject/mtcnn_facenet_cpp_tensorRT/build$ ./mtcnn_facenet_cpp_tensorRT
UNKNOWN: Registered plugin creator - ::GridAnchor_TRT version 1
UNKNOWN: Registered plugin creator - ::NMS_TRT version 1
UNKNOWN: Registered plu

[2021-04-25 11:11] hirwa145 commented on #30
@shubham-shahh I managed to be able to predict names of the people in the video correctly. But names are displayed in the terminal but not around the bbox, how can i achieve that?

[2021-04-26 01:11] Tetsujinfr commented on #21
fyi running 22fps with 1 face and no images in the imgs DB folder on a Jetson Xavier NX.
Cool repo, but I would have expected faster inference on the NX, although I suspect the fps rate estimate might be capped by 1) the opencv frame window rendering and 2) the webcam frame grab time. I need to play with it a bit more.

Modifying the main.cpp to add some command line arguments, e.g. an input folde

[2021-04-26 04:15] shubham-shahh commented on #30
Hi, you need to update Deepstream's bbox function.

[2021-04-26 11:32] hirwa145 commented on #30
You mean in nvdsparsebbox_Yolo.cpp?

[2021-04-26 11:36] shubham-shahh commented on #30
No, if I am not mistaken that is for the bbox from the pgie, so until we get the pgie we don't have the name of the person.

[2021-04-26 11:42] hirwa145 commented on #30
So how to i change the bbox function? I used Python implementation

[2021-04-26 11:46] shubham-shahh commented on #30
one approach I would use is, to draw on the stream after sgie gives you the name. so with the help of OpenCV, you can draw the box and name of the person.

[2021-04-26 11:54] hirwa145 commented on #30
Which means i have to write a new code block for this

[2021-04-26 12:04] shubham-shahh commented on #30
Depends on the approach

[2021-04-26 15:26] hirwa145 commented on #30
Okay, now everything is working fine. But one more question, how can i calculate the value of `net-scale-factor` please. I want ti fine tune the probability.  And offset value

[2021-04-26 22:59] Tetsujinfr opened #38 "detecion on small faces"
hi, first thanks for the repo, the perf on jetson is quite remarkable. really cool.

I am trying to run the face detection on small faces, and I struggle to get good results.

I saw there were interesting parameters in mtcnn.cpp like the below lines:
[code]
I have tried different values but the results are not intuitive and usually there are really bad (most detections disappear even for very larg

[2021-04-30 11:12] shubham-shahh commented on #30
I am not sure about that, you can find info on deepstream forums.

[2021-05-03 20:16] Tetsujinfr commented on #25
hi, any update on adding this feature to the repo?

btw I think the accuracy is quite good when testing with a single image per ID in the DB. It would be amazing to be able to efficiently add more faces for a given ID (instead of adding pictures of the same person in the DB which I guess is not good performance wise)

[2021-05-05 08:28] shubham-shahh commented on #25
Hi please refer the deepstream issue for updates [here](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT/issues/30)

[2021-05-10 15:07] Tetsujinfr commented on #32
you need to change the code to make the program more flexible regarding type of inputs. You can connect mpi or usb cameras no problem. actually you can tweak the code to pass a gstreamer string as an argument to the prgram, very flexible this way regarding inputs.

I think you can close this issue btw given you auto-resolved it.

[2021-05-10 15:11] Tetsujinfr commented on #37
are you sure you did this step of the readme?
`4. Convert frozen protobuf (.pb) model to UFF`

[2021-05-12 05:22] #37 closed, assigned to nobody

[2021-05-18 01:57] Tetsujinfr opened #39 "Getting eyes/nose/mouth points as well"
Hi

Is there a way to get the usuall 5 facial landmarks from the face detection on top of the bounding box coordinates?
Thanks

[2021-06-03 13:43] sahilkhatri opened #40 "Embeddings do not match with the original facenet_keras.h5"
Hey, I created facenet_engine.plan file using the facenet.onnx file. When I ran the code for inference, it didn't gave any correct recognition results. I compared the embeddings (same image) generated from facenet.h5 and facenet_engine.plan file, it turns out that they both are COMPLETELY DIFFERENT. What could possibly be the reason for this strange result?

Also, I got error  "AssertionError: Bot

[2021-07-02 12:57] IsraelLencina opened #41 "Inference over Facenet makes different results on Jetson Nano and dGPU"
Hi, i'm using this repo from a laptop with TensorRT (it's TensorRT 20.03 docker image), and also from a Jetson, the code works without problems in Jetson, the detections are OK this is in expected values.
But when i execute this repo on my own laptop, it return values between 500 and 1000 do you know why is it?

[2021-07-07 04:10] shubham-shahh commented on #41
Hi, 500 and 1000 are values of what? kindly eleborate.

[2021-07-07 04:12] shubham-shahh commented on #40
Hi, did you follow all the instructions mentioned in the develop branch?

[2021-07-07 04:14] shubham-shahh commented on #39
Hi, you need to extract it from the MTCNN model

[2021-07-07 11:44] Tetsujinfr commented on #39
Ok thanks for clarifying. Will try that route then. Closing the issue.

[2021-07-07 11:44] #39 closed, assigned to nobody

[2021-07-08 04:10] imSrbh commented on #41
@shubham-shahh  I think these are the embeddings.

@IsraelLencina I am also trying to reproduce this setup on dgpu, facing saveral issues.
- h5 to pb conversion

[2021-07-14 12:13] apoorvmishra28 opened #42 "RTMP reconnect"
Hi,
I am using facenet with TensorRT for face recognition on jetson nano everything is working fine until my rtmp server restarts whenever it restarts I got this error on nano "rtmpsink could not write to resource" I tried googling how to reconnect to rtmp server if it fails but didn't get any proper solution. Any suggestions from here regarding this?
I am using below pipeline

appsrc ! videoconve

[2021-07-19 03:00] imSrbh opened #43 "ValueError: Expected n_neighbors <= n_samples, but n_samples = 93, n_neighbors = 100"
@shubham-shahh can you look into this?
[code]

[2021-07-19 03:13] shubham-shahh commented on #43
Please provide more context, are you training? Inferencing? C++ versi or or python?

[2021-07-19 03:55] imSrbh commented on #43
- Inferencing via facent-python.
- generated the embeddings.npz
-  In deepstream_facenet.py I added the sgie_probe code from [this](https://github.com/riotu-lab/deepstream-facenet) to classify the faces from known_embeddings. There is facenet_utils.py. Which is basically a classifier (KNN, SVM).

then I was running that.

@shubham-shahh

[2021-07-20 04:59] shubham-shahh commented on #43
Hi, It has something to do with your KNN classification, I cannot be sure until I see your code.

[2021-07-20 11:09] IsraelLencina commented on #41
Yes, it's embeddings, i've seen that the change is after the inference.

[2021-07-21 07:15] thandongtb commented on #43
@imSrbh I guess the reason comes from your dataset. The number sample in your dataset is too small (only 93 images) but the number of nearest neighbors to query is K = 100. I think you should add more images to the dataset (greater than 100) or reduce the K value (maybe 5, 10, or 20 in this case)

[2021-07-21 14:13] imSrbh commented on #43
@thandongtb Yes, you are right. I was able to resolve it.

[2021-07-21 14:13] #43 closed, assigned to nobody

[2021-08-17 17:51] beybars1 opened #44 "Error with "make -j${4}""
Hello all!

I am trying to launch this project on Jetson Nano.
Specifications:
- CUDA 10.2
- TensorRT 7.1.3.0.
- Cmake 3.13.0
- JetPack 4.4

I am getting following error message when typing last command in fifth step of the instructions.

Command: `make -j${nproc}`
Result:
![image](https://user-images.githubusercontent.com/29370622/129775851-de345e54-b841-46cf-a7f1-16cb43205939.png)

Any help will

[2021-08-17 18:15] beybars1 commented on #44
My bad. I initiated the `make -j${nproc}` in the _MTCNN_FaceDetection_TensorRT_ folder with completely different CMake file.

[2021-08-17 18:15] #44 closed, assigned to nobody

[2021-09-03 08:32] IsraelLencina commented on #41
Hi again, i've seen in NOTES section that .uff and .engine are GPU specific, i've tried to generate everything from step 3 (as you say in NOTES section) but the "GPU embeddings" are still in values bigger than "Jetson embeddings".

[2021-09-03 08:35] shubham-shahh commented on #41
are you referring to the master branch or develop branch?

[2021-09-03 09:33] IsraelLencina commented on #41
Always master

[2021-09-15 02:53] lsz876 opened #45 "How to process 1280*720 or other size of input image frame?"
I want to preview 1280x720 and other size,but it can't recognize the person,how should I modify the code?

[2021-09-23 09:19] IllyaPysarchuk commented on #27
Did you solve it?

[2021-11-08 00:15] AleenahK commented on #22
Hi,

I have encountered the same issue. Were you able to find a solution?

Regards

[2021-12-29 10:02] c7934597 opened #47 "I can't run the project on deepstream 6.0 and cuda 11.4"
Can you upgrade the project to deepstream 6.0 and cuda 11.4?

Thank you so much.

![image](https://user-images.githubusercontent.com/9107549/147650467-659fd2a9-b6c5-4593-a0cd-f3340538c0f1.png)

[2022-04-06 10:48] Neel125 opened #48 "Jetpack 4.6"
Has anyone tested this with Jetpack 4.6?
Is everything working as expected?

In my jetson device, it is not working.

[2022-04-20 18:33] shubham-shahh commented on #47
Which branch are you running, kindly explain your problem in detail

Thanks

[2022-05-17 04:22] KevinRK27 opened #49 "IndexError: list index out of range"
i tried to convert pb to uff file using jetson agx xavier on jetpack 5.0 with tensorflow 1.15 and got this error
Traceback (most recent call last):
  File "step01_pb_to_uff.py", line 32, in <module>
    uff_model = uff.from_tensorflow(dynamic_graph.as_graph_def(), output_nodes=output_nodes,
  File "/usr/lib/python3.8/dist-packages/uff/converters/tensorflow/conversion_helpers.py", line 219, in from

[2022-05-18 08:08] gangchynt commented on #22
I have the same issue too

[2022-07-20 08:59] dangbuiii commented on #22
Anyone fix this issue ? i have the same issue and dont know how to fix this :(

[2022-07-26 12:22] that-learner opened #50 "opencv resize.cpp:!ssize.empty() in function 'resize'"
I put my picture in ../imgs and run ./mtcnn_facenet_cpp_tensorRT, error :opencv resize.cpp:!ssize.empty() in function 'resize'

[2022-07-27 02:18] that-learner commented on #50
sometimes it no errors,sometimes it gets the error,strange

[2022-07-27 03:09] that-learner commented on #50
already solved,maybe the frame of camera is empty at first,
i add if judge code in mtcnn.cpp as follows:(line 122)
if(image(temp).empty()){continue;}//add this
resize(image(temp), secImage, cv::Size(24, 24), 0, 0, cv::INTER_LINEAR);